<form action="/students/{{student._id}}/update" method="post">
  <input type="text" name='name' value="{{student.name}}">
  <input type="text" name='age' value="{{student.age}}">
  <input type="submit" value="Editar Estudiante">
</form>
