{{#if nameParams}}
  <h2>Vengo de {{nameParams}} {{age}}</h2>
{{/if}}


<h1>Hola como estas {{name}}</h1>
<form action="/" method='get'>
  <label for="name">Nombre:</label>
  <input type="text" name='name'>
  <input type="submit" value='Envia nombre'>
</form>

<a href="/?name=German">German</a>

<form action="/" method='post'>
  <label for="name">Nombre:</label>
  <input type="text" name='name'>
  <input type="submit" value='Envia nombre'>
</form>



